.header {
  background-color: #1b2631;
  height: 30px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.logo {
  width: 30px;
  height: 14px;
  background-color: #b3b6b7;
}

.logo-menu {
  color: white;
}

.menu {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
}

.menu a {
  text-decoration: none;
  color: white;
}

.contenedor {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 580px;
  padding: 5px;
  height: 600px;
  margin: 5px;
}

.linea {
  background-color: #d0d3d4;
}

.contenedor-general {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px 10px;
}

.item-contenedor,
.item-contenedor-grande {
  width: 167px;
  height: 100px;
  background-color: #a04000;
}

@media screen and (min-width: 531px) {
  .header {
    height: 40px;
  }
  .logo {
    height: 18px;
    width: 35px;
  }
  .logo-menu {
    display: none;
  }
}

@media screen and (max-width: 531px) {
  .menu {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  .item-contenedor-grande {
    display: none;
  }
}

@media screen and (min-width: 850px) {
  .contenedor-general {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: center;
    gap: 10px;
  }
}
